

#tm div {
  width: 250px;
  height: 300px;
  border: black 1px solid;
}

#tm div.container {
  border: none;
  display: flex;
  width: 100vw;
  justify-content: space-around;
}

#tm div.fake-webmaster {
  visibility: hidden;
  transition-property: all;
  transition-duration: .5s;
}

#tm div.hide {
  display: none;
}